<div class="row">
    <div class="col-sm-8">
        <<h2> TEST TEST</h2>
        <h2> TEST TEST</h2>
    </div>
    <div class="col-sm-4">
    </div>
</div>

@section SiteName{

}

@section ViewName{
    To jest Contact Screen
}

