@model PlayerListModel

<div class="row">
    <div class="col-sm-6">
        <h2>To jest HomePage</h2>
        <h2>Mamy sobie: @Model.Players.Count() zawodników</h2>
    </div>
    <div class="col-sm-6">
        @Html.Action("Display","Advert")
    </div>
</div>


    @section SiteName{

    }

    @section ViewName{
        To jest Home Screen
    }