@model PlayerModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edytuj zawodnika</h2>

<div class="row">
    <div class="col-xs-6">Numer</div>
    <div class="col-xs-6">
        @Html.EditorFor(model => model.FirstName)
    </div>
</div>

<div class="row">
    <div class="col-xs-6">Imię</div>
    <div class="col-xs-6">
        @Html.EditorFor(model => model.FirstName)
    </div>
</div>

<div class="row">
    <div class="col-xs-6">Nazwisko</div>
    <div class="col-xs-6">
        @Html.EditorFor(model => model.LastName)
    </div>
</div>