@model int
<div>
    <p class="text-center">Mam na niej @Model produktów</p>
</div>

<div class="row">
    <div class="col-xs-12">
        @* Partial View dont want work *@
        @*@Html.Action("Display", "Adverts")*@
    </div>
</div>

@section PageTitle{
    Witaj w naszej Bazie produktów
    }