@model int


<h1 class="text-center">Cześć</h1>
<br />
<div class="text-center">
    <p>Witaj na mojej liście Produktów</p>
</div>
<hr />
<div>
    <p class="text-center">Mam na niej @Model produktów</p>
</div>