@using Fsd.Jacek.Cs.Ex4.Data;
@Model


<div class="jumbotron">
    <h1>Witamy w naszym sklepie</h1>
    <h1>Jutro wszystkie ceny w górę o 50 procent</h1>
</div>

<p>Liczba dostępnych produktów: @Model</p>