@{
    ViewBag.Title = "About";
}

<div style="background:transparent !important" class="jumbotron">
    <p><a href="../home" class="btn btn-info" role="button">Powrót do strony głównej&raquo;</a></p>
    <p>Nazywam się Kamil Tomczyk i uczę się C#.</p>    
</div>

@section PageTitle{
    <h2><span style="color: crimson">O mnie</span></h2>
}