@model PlayerModel
@{
    ViewBag.Title = "DisplayPlayerDetails";
}

<h2>Szczegóły</h2>

<h1>@Model.Number @Model.FirstName @Model.LastName</h1>


@section SiteName{

}

@section ViewName{
    To jest Details Screen
}