@model ProductListModel

@{
    ViewBag.Title = "Home Page";
    int productsCount = 55;//Model.Products.Count();
    string form;

    if (productsCount == 1)
    {
        form = "product";
    }
    else
    {
        form = "products";
    }
}

<div class="jumbotron">
    <h1>Hello!</h1>
    <p class="lead">
        We have @productsCount @form.
    </p>
</div>