@model int
@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-sm-6" style="background: silver">
        @if (Model == 0)
        {
            <h3>W kadrze nie ma zawodników</h3>
        }
        else
        {
            <h3>Aktualnie w kadrze jest @Model  @(Model > 1 ? "zawodników" : "zawodnik")</h3>
        }
    </div>
    <div class="col-sm-6">
        @Html.Action("Display", "Adverts")
    </div>
</div>



@section  PageTitle{
    <h2>Strona główna</h2>    
    }
@section FooterPage{
    strona główna
}