@{
    
}

<div class="row">
    <div class="col-sm-10">
        <h3>Ta strona została stworzona przez Michała Porowca na potrzeby kursu. </h3>
        <h4>Tematem strony są produkty</h4>
    </div>
    <div class="col-sm-2">
        @Html.Action("Display", "Adverts")
    </div>
</div>