@{
    ViewBag.Title = "About";
}
@section PageTitle { About the author }

<div class="row">
    <div class="col-md-9">
        <div class="jumbotron">
            <h2>Sebastian Nasuta</h2>
        </div>
    </div>
    <div class="col-md-3">
        @Html.Action("Display", "Adverts")
    </div>
</div>