$headerImage: url("../images/blue-neon-cubes-technology-transfer-web-header.jpg");
$background:  #404040;
$backgroundContent: white;
$backgroundFooter: black;
$fontFoorer: white;
$backgroundNav: #66b3ff;
$colorOfBorderContainer: black;
$headerFontColor: white;
$buttonHoverColor: rgb(0, 11, 170);
$linkNavHoverColor: white;
$linkNavColor: black;
$selectedPageLink: red;
