@model int

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Full stack development academy</p>
    <p><a href="http://codeschool.headchannel.pl/" class="btn btn-primary btn-lg">Code school page</a></p>
</div>

<p>Total product count: @Model</p>