body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
}
a {
    text-decoration: none; 
    color: black;
    width: 100%;
}
h3 {
    margin: 0px;
}
.site-wrapper {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    width: 70%;
    -webkit-box-shadow: 4px 15px 64px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 15px 64px -15px rgba(0,0,0,0.75);
    box-shadow: 4px 15px 64px -15px rgba(0,0,0,0.75);
    height: 100%;
    margin: 0 auto;
}
.header {
    position: relative; 
    margin-top: 10px;
}
.navbar {
    margin: 0px;
    background-color: #333333;
}
.navbar-image {
    width: 100%;
    height: auto;
}
.navbar-higher-container-content {
    position: absolute;
    top: 20%;
    left: 20%;
}
.navbar-higher-container-content-title {
    display: inline-block;
    color: white;
}
.navbar-higher-container-content-title-hi {
    color: yellow;
}
.navbar-buttons-wrapper {
    margin: 0px;
    height: 20%;
}
.navbar-button {
    color: white;
    display: inline-block;
    border: 0px;
    text-align: center;
    width: 30%;
    line-height: 32px;
    height: 32px;
    margin-left: 1%;
}
.navbar-button:first-of-type {
    margin-left: 3.5%;
}
.navbar-button:hover {
    font-size: 110%;
    font-weight: bold;
}
.navbar-button-pushed {
    background-color: #222222;
}
.page {
    height: 600px;
    background-color: #bbbbbb;
}
.page-content {
    margin-left: 5%;
}
.footer-container {
    position: relative;
}
.footer {
    width: 100%;
    min-height: 150px;  
    background-color: #111111;
    margin-bottom: 20px;
}
.footer-button-row {
    display: inline-block;
    width: 10%; 
}
.footer-about {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
}
.footer-button-row:first-of-type {
    margin-left: 5%;
}
.footer-button {
    font-size: 22px;
    width: 32px; 
    text-align: center;
    line-height: 32px;
    color: #fff;
    border-radius: 50%;
    margin: 10px auto;  
}
.footer-button-inside {
    height: 100%;
    width: 100%;
    color: white;
}
.footer-button-facebook {
    background-color: #3B5998;
}
.footer-button-twitter {
    background-color: #1DACD6;
}
.footer-button-google {
    background-color: #E41200;
}
.footer-button-youtube {
    background-color: #EE1C1B;
}
.footer-about-author {
    color: white;
    text-align: right;
}