@{
    ViewBag.Title = "About";
}

<div style="background:transparent !important" class="jumbotron">
    <h1>About me</h1>
    <p>@ViewBag.Message</p>
    <p><a href="../Home" class="btn btn-info" role="button">Return to Home Page&raquo;</a></p>
</div>