@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MINI MARKET</h1>
    <h2>Hello, welcome to my shopping centre!</h2>
    <p class="lead">I give you the best products. Enjoy!</p>
    <p class="lead"></p>
    <p>
        <a href="../products" class="btn btn-primary btn-lg">Products&raquo;</a>
        <a href="../about" class="btn btn-success btn-lg">About me&raquo;</a>
    </p>
</div>