body{
    margin:0;
    padding:0;
    height: 100vh;
    width: 100%;
    background-color:#f4f4f4;
    font-family: 'Ranchers', cursive;
}
p, ul{
    margin:0;
}
a{
    text-decoration: none;
}

.main{
    width:70%;
    margin-right:auto;
    margin-left:auto;
    height:100%;
    background-color: green;
    position:relative;
    -webkit-box-shadow: 0px 0px 60px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 60px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 60px -8px rgba(0,0,0,0.75);
}

header{
    position: relative;
    top: 0;
    width:100%;
    height:325px;
}
.header-img{
    width:100%;
    height:100%;
}
.header-title{
    position: absolute;
    top:50px;
    left:100px;
    font-size:30px;
    font-weight: 700;
}
.header-title-first-word{
    color:#ee4268;
}

nav{
    width:100%;
    position:relative;
    height:30px;
    background-color: #858383;
    color:#fff
}
.nav-list{
    display:flex;
    justify-content:space-around;
    list-style: none;
    align-items:center;
    color:#fff !important;
    padding:0;
    padding-top:5px;
}
ul a{
    color:#fff;
}
a:hover{
    color:#cc4c4c;
}

section{
    padding:10px;
    box-sizing: border-box;
    min-height: calc(100vh - 455px);
    background-color: #fff;
}

footer{
    position:relative;
    bottom:0;
    width:100%;
    height:100px;
}
footer ul{
    padding:0;
    list-style: none;
}
.footer-link{
    background-color:#858383;
    width:100%;
    height:calc(100% - 13px);
}
.footer-link-row{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.footer-link-column{
    display:flex;
    flex-direction: column;
}

.footer-author{
    box-sizing:border-box; 
    position:relative;
    padding:1px;
    height:13px;
    font-size: 10px;
    bottom:0;
    width:100%;
    text-align: center;
    background-color: #000000;
    color:#fff;
}